name: CI/CD for PlayHive Microservices

on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build-and-push:
    runs-on: ubuntu-latest
    strategy:
      matrix:
        service:
          - gamehub-app
          - gamehub-snake
          - 2048

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Set up Docker Buildx
        uses: docker/setup-buildx-action@v2

      - name: Log in to Docker Hub
        uses: docker/login-action@v2
        with:
          username: ${{ secrets.DOCKER_USERNAME }}
          password: ${{ secrets.DOCKER_PASSWORD }}

      - name: Build and push Docker image
        uses: docker/build-push-action@v4
        with:
          context: ./gamehub-microarch/${{ matrix.service }}
          push: true
          tags: ${{ secrets.DOCKER_USERNAME }}/${{ matrix.service }}:latest

  deploy:
    needs: build-and-push
    runs-on: self-hosted

    steps:
      - name: Checkout repository
        uses: actions/checkout@v4

      - name: Start Minikube
        run: |
          minikube start --driver=docker
          kubectl config use-context minikube

      - name: Apply all Kubernetes manifests
        run: |
          kubectl apply -f microservice-arch/yml/
          kubectl rollout status deployment/snake
          kubectl rollout status deployment/gamehub
          kubectl rollout status deployment/game2048

      - name: Verify deployed services
        run: kubectl get svc -o wide

      - name: Get Ingress URL
        run: minikube service list

